
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

$primary-font: OpenSansLight;
$headers-font-regular: OpenSansRegular;
$headers-font-bold: OpenSansBold;
$secondary-font: "Helvetica Neue",Helvetica,Arial,sans-serif;


body{
  font-family: $primary-font;
  font-size: 16px;
}