$header-text-color: rgb(255, 255, 255);

.header{
  background-color: rgb(25, 25, 25);
  &__content{
    padding: 137px 0;
  }
}

.content{
  &--background{
    background-color: rgba(0, 0, 0, 0.760784);
  }
}

.header-content-background{
  background-size: cover;
  color: rgb(255, 255, 255);
  background: url("../images/headerbackground.jpg") no-repeat center center;
  color: $header-text-color;
}

