.main{
  margin: 70px 0 0 0;
}

/*Seo block START*/
.seo{
  position: relative;
  color: rgb(71, 71, 71);
  background-color: rgb(245, 245, 245);
  &__title{
    font-family: $seo-font-bold;
    font-size: 40px;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      width: 0;
      width: 100%;
      top: -15px;
      left: 0;
      position: absolute;
      border-top: 1px solid #ccc;
    }
    &::after{
      content: '';
      width: 0;
      width: 100%;
      top: -12px;
      left: 0;
      position: absolute;
      border-top: 1px solid #ccc;
    }
  }
  &__partitions{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin: 0 0 20px 0;
    &::after{
      content: '';
      width: 100%;
      left: 0;
      bottom: -20px;
      position: absolute;
      border-bottom: 1px solid #ccc;
    }
    &::before{
      content: '';
      width: 100%;
      left: 0;
      bottom: -17px;
      position: absolute;
      border-bottom: 1px solid #ccc;
    }
    &__header{
      font-size: 30px;
      font-family: $seo-font;
      margin: 20px 0 30px 0;
      text-align: center;
      .useful{
        text-transform: uppercase;
        &--not{
          color: rgb(229, 56, 53);
        }
        &--yes{
          color: rgb(92, 184, 96);
        }
      }
    }
    &-items{
      font-family: $primary-font;
      font-size: 22px;
      position: relative;
      display: flex;
      flex-flow: row;
      align-items: center;
      &::before{
        content: '';
        height: 100%;
        left: 70px;
        position: absolute;
        border-left: 1px solid #ccc;
      }
      &::after{
          content: '';
          height: 100%;
          left: 68px;
          top: 0;
          position: absolute;
          border-left: 1px solid #ccc;
      }
      img{
        float: left;
        padding-right: 10px;
        width: 74px;
        margin-right: 10px;
      }
    }
  }
  @for $i from 1 through 2 {
    &__partition--#{$i} {
      width: 48%;
      display: flex;
      flex-flow: column;
      position: relative;
    }
    @if $i == 1 {
      &__partition--#{$i}{
        /*&::after{
          content: '';
          width: 0;
          height: 95%;
          top: 20px;
          position: absolute;
          right: -1px;
          border-left: 1px solid #ccc;
        }*/
      }
    } @else if($i == 2) {
      &__partition--#{$i}{
        p{
          width: 108%;
        }
        /*&::before{
          content: '';
          width: 0;
          height: 95%;
          top: 20px;
          position: absolute;
          left: -1px;
          border-left: 1px solid #ccc;
        }*/
        padding: 0 0 0 10px;
      }
    }
  }

  .zigzag-bottom{
    margin: 0 0 32px;
    padding: 3px 0;
    &::after{
      background:
              linear-gradient(-45deg, transparent 80px, rgb(245, 245, 245) 0),
              linear-gradient(45deg, transparent 80px, rgb(245, 245, 245)  0);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 115px 61px;
      content: "";
      display: block;

      width: 100%;
      height: 61px;

      position: relative;
      top:64px;
      left:0px;
    }
  }

}
/*Seo block END*/

/*Audit Block START*/
.audit{
  margin: 120px 0 0 0;
  &__title{
    @extend .seo__title;
  }
  &-info{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 60px 0 0 0;
    border: 1px dotted #ccc;
    padding: 40px 0;
    &__item{
      width: 30%;
      img{
        width: 128px;
        height: 128px;
        display: block;
        margin: auto;
      }
      @each $tv in (h4, p) {
        #{$tv}{
          font-size: 22px;
          text-align: center;
        }
        @if $tv == h4 {
          #{$tv}{
            font-family: $headers-font-regular;
            font-weight: 800;
        }
        }
      }
    }
  }
}
/*Audit Block END*/
/*Include-audit block START*/
  .include{
    @extend .audit;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/includebackground.jpg");
    &-wrapper{
      background-color: rgba(0, 0, 0, 0.658824);
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &-materials{
      display: flex;
      flex-flow: row;
      &__list, &__desc{
        width: 48%;
      }
      &__list{
        .list-item{
          @extend .seo__partitions-items;
          color: white;
          font-family: $primary-font;
          &::after, &::before{
            border-left: 1px solid #333333;
          }
          img{
            padding-right: 0px;
            margin-right: 20px;
            width: 61px;
          }
        }
      }
      &__desc{
        padding-top: 50px;
        div{
          width: 100%;
        }
        img{
          width: inherit;
        }
        .btn{
          margin-top: 50px;
        }
      }
    }
    &__title{
      @extend .audit__title;
      margin-bottom: 38px;
      &::after, &::before{
        border-color: #333333;
      }
      color: white;
    }
  }
/*Include-audit block END*/
/*Result block START*/
.results{
  position: relative;
  .zigzag-bottom{
    margin: 0 0 32px;
    padding: 3px 0;
    &::after{
      background:
              linear-gradient(-45deg, transparent 80px, white 0),
              linear-gradient(45deg, transparent 80px, white  0);
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 115px 61px;
      content: "";
      display: block;

      width: 100%;
      height: 61px;

      position: relative;
      top:64px;
      left:0px;
    }
  }
  &__title{
    @extend .audit__title;
    font-family: $headers-font-regular;
    font-size: 32px;
    margin-top: 50px;
  }
  &__subtitle{
    font-family: $primary-font;
    font-size: 20px;
    text-align: center;
    span{
      color: rgb(0, 118, 164);
      font-family: $headers-font-regular;
    }
  }
  &-info{
    @extend .audit-info;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
    margin: 40px 0 0 0;
    &__item{
      width: 33%;
      img{
        width: 100%;
      }
    }
  }
}
/*Result block END*/
/*Proposition block START*/
.proposition{
  margin-top: -30px;
  padding-bottom: 50px;
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("../images/sheetbackground.png");
  &__title{
    margin-top: 120px;
    @extend .audit__title;
    color: rgb(150, 22, 19);
  }
  &-block{
    display: flex;
    flex-flow: row;
    &__item{
      margin-top: 50px;
      width: 49%;
      text-align: center;
      &:first-child{
      p:first-child{
        font-size: 36px;
        font-family: $headers-font-regular;
      }
      p:nth-child(2){
        font-family: $headers-font-bold;
        font-size: 18px;
      }
      p:nth-child(3){
        font-family: $headers-font-bold;
        text-decoration: line-through;
        color: rgb(199, 29, 26);
        font-size: 36px;
      }
      p:nth-child(4){
        position: relative;
        top: -25px;
        font-family: $headers-font-bold;
        color: rgb(25, 123, 48);
        font-size: 104px;
      }
      p:last-child{
        font-family: $headers-font-regular;
        font-size: 28px;
        position: relative;
        top: -65px;
      }
    }
    &:last-child{
      form{
        width: 70%;
        text-align: left;
        margin: auto;
        .btn{
          display: block;
          margin: 20px auto 0 auto;
        }
        input[type="text"] {
          border-width: 2px;
          padding: 10px 12px;
          height: 44px;
          border-radius: 5px;
          line-height: 20px;
        }
      }
      p{
        font-size: 22px;
        span{
          color: rgb(76, 175, 80);
          font-family: $headers-font-regular;
          font-weight: 600;
        }
      }
    }
   }
  }
}
/*Proposition block END*/